<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ASR release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ASR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>asr.ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>asr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5F0C4F0F17360CD60025E149</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F1F0F22173C9F3100DEA888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F28459518178998004C3341</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F2845BA18178999004C3341</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F391FA018112D8400FB5F8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5F391FC818112D8500FB5F8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5FB2B2A31732107C0006871C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
